async-timeout==4.0.3; python_full_version <= "3.11.2" and python_version >= "3.7"
certifi==2023.11.17; python_version >= "3.7"
charset-normalizer==3.3.2; python_full_version >= "3.7.0" and python_version >= "3.7"
colorama==0.4.6; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.7.0"
customtkinter==5.2.1; python_version >= "3.7"
darkdetect==0.8.0; python_version >= "3.7"
decorator==4.4.2; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.2.0"
idna==3.6; python_version >= "3.7"
imageio-ffmpeg==0.4.9; python_version >= "3.5"
imageio==2.33.0; python_version >= "3.8"
moviepy==1.0.3
numpy==1.26.2; python_version >= "3.9"
packaging==23.2; python_version >= "3.7"
pillow==10.1.0; python_version >= "3.8"
proglog==0.1.10
pytube==15.0.0; python_version >= "3.7"
redis==5.0.1; python_version >= "3.7"
requests==2.31.0; python_version >= "3.7"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
spotipy==2.23.0
tqdm==4.66.1; python_version >= "3.7"
urllib3==2.1.0; python_version >= "3.8"
youtube-search==2.1.2
